# =============================================================================
# Database
# =============================================================================

DB_HOST=localhost
DB_PORT=3306
DB_USER=database_admin
DB_PASSWORD=your_database_password
DB_DATABASE=chatbot_db


# =============================================================================
# Model
# =============================================================================

MODEL_HIDDEN_SIZE=8
MODEL_NUM_EPOCHS=1000
MODEL_BATCH_SIZE=8
MODEL_LEARNING_RATE=0.001
